/* Importing font */
@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

/* Resetting user-select */
html,
body,
* {
  user-select: none;
  margin: 0;
  padding: 0;
}

/* Global styles */
html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Cormorant Garamond', serif;
  background-color: #8d6e5d;
  background-image: url(./Assets/backgroundSquare.png);
  background-size: 200px 200px;
  background-repeat: repeat;
}

:root {
  --color-heading: #8d6e5d;
  --color-heading-shadow: #321d08;
}

/* Button styles */
.button {
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  padding: 15px;
  background-color: #645043;
  border: 4px solid black;
  cursor: pointer;
}

/* Scene styles */
#cafeScene,
#kitchenScene,
#orderingScene,
#counter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
  height: 720px;
  border: 5px solid #000;
  margin: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

#cafeScene {
  background-image: url(./Assets/cafeDay.png);
}

#kitchenScene {
  background-image: url(./Assets/kitchenBackground.png);
}
#orderingScene {
  background-image: url(./Assets/servingDay.png);
  z-index: 1;
}
  
#counter {
  background-image: url(./Assets/servingCounter.png);
  z-index: 3;
}

.characterCounter {
  position: absolute;
  z-index: 2;
  bottom: 05px;
  right: 660px;
  width: 141px;
  height: 263px;
}

/* Music toggle and credits */
.container,
#musicToggle,
#credits {
  position: absolute;
  font-family: 'Cherry Bomb One', sans-serif;
  color: #ffffff;
  text-shadow:
    0 1px 0 var(--color-heading-shadow),
    0 2px 0 var(--color-heading-shadow),
    0 3px 0 var(--color-heading-shadow),
    0 4px 0 var(--color-heading-shadow),
    0 0 5px rgba(10, 0, 0, .05),
    0 1px 3px rgba(10, 0, 0, .2),
    0 3px 5px rgba(10, 0, 0, .2),
    0 5px 10px rgba(10, 0, 0, .2),
    0 10px 10px rgba(10, 0, 0, .2),
    0 20px 20px rgba(10, 0, 0, .3);
}

#musicToggle {
  top: 10px;
  right: 10px;
  cursor: pointer;
}

#credits {
  bottom: 0px;
  right: 10px;
}

/* To cafe/kitchen button container */
.container {
  top: 50px;
  left: 75px;
  transform: translate(-50%, -50%);
  border-radius: 50%;
  text-align: center;
}

/* Additional styles for various elements */
.character {
  width: 141px;
  height: 263px;
  background-repeat: no-repeat;
  position: absolute;
  right: 0;
  margin-top: 20%;
}

#player {
  position: absolute;
  top: 252px;
  left: 185px;
}

#player img {
  width: 129px;
  height: 200px;
}

#speakBubble img {
  position: absolute;
  cursor: pointer;
  right: 600px;
  margin-top: 150px;
}

/*Blender + Cup Styling */
#blender {
  position: absolute;
  cursor: pointer;
  top: 5px;
  left: 545px;
}

#cup {
  position: absolute;
  top: 430px;
  left: 600px;
}

#kitchenButtons img {
  position: absolute;
  cursor: pointer;
}

/* Topping Buttons */
#biscoff {
  top: 28px;
  left: 973px;
}

#pocky {
  top: 261px;
  left: 972px;
}

#strawberryTopping {
  top: 168px;
  left: 1100px;
  height: 132px;
  width: 147px;
}

#blueberry {
  top: 403px;
  left: 1109px;
  width: 139px;
  height: 135px;
}

#cherry {
  top: 42px;
  left: 1102px;
  width: 144px;
  height: 142px;
}

#sprinkles {
  height: 144px;
  top: 143px;
  left: 972px;
}

#graham {
  top: 525px;
  left: 959px;
  width: 150px;
  height: 130px;
}

#oreo {
  top: 390px;
  left: 965px;
  width: 137px;
  height: 164px;
}

#marshmallow {
  top: 278px;
  left: 1108px;
  width: 134px;
  height: 157px
}

#chocolateChips {
  top: 515px;
  left: 1110px;
  width: 134px;
  height: 157px;
}

/* Syrup Buttons */
#peanutButter {
  top: 80px;
  left: 830px;
  width: 146px;
  height: 172px;
}

#chocolateSyrup {
  top: 203px;
  left: 830px;
  width: 146px;
  height: 172px;
}

#caramel {
  top: 333px;
  left: 839px;
  width: 146px;
  height: 172px;
}

#strawberrySyrup {
  top: 460px;
  left: 831px;
  width: 146px;
  height: 172px;
}

/* Milk Buttons */
#whole {
  top: 70px;
  left: 370px;
  width: 160px;
  height: 190px;
}

#oat {
  top: 260px;
  left: 370px;
  width: 160px;
  height: 190px;
}

#almond {
  top: 448px;
  left: 370px;
  width: 160px;
  height: 190px;
}

/* Ice Cream Buttons */
#vanilla {
  top: 60px;
  left: 35px;
  width: 174px;
  height: 190px;
}

#strawberry {
  top: 184px;
  left: 33px;
  width: 174px;
  height: 205px;
}

#matcha {
  top: 340px;
  left: 33px;
  width: 174px;
  height: 200px;
}

#birthdayCake {
  top: 474px;
  left: 33px;
  width: 174px;
  height: 200px;
}

#chocolate {
  top: 46px;
  left: 195px;
  width: 176px;
  height: 166px;
}

#coffee {
  top: 200px;
  left: 196px;
  width: 174px;
  height: 157px;
}

#mango {
  top: 332px;
  left: 205px;
  width: 167px;
  height: 170px;
}

#cookieDough {
  top: 488px;
  left: 217px;
  width: 154px;
  height: 143px;
}

/* Whipped Cream Buttons */
#chocolateCream {
  top: 83px;
  left: 748px;
  width: 113px;
  height: 195px;
}

#vanillaCream {
  top: 255px;
  left: 751px;
  width: 117px;
  height: 195px;
}

/* Whipped Cream Display */
#whipDisplay img {
  position: absolute;
  z-index: 7;
  top: 381px;
  left: 600px;
  width: 97px;
  height: 112px;
}

/* Milk Display */
#milkDisplay img {
  position: absolute;
  z-index: 6;
  top: 432px;
  left: 571px;
  width: 164px;
  height: 193px;
}

/* Syrup Display */
#syrupDisplay img{
  position: absolute;
  z-index: 8;
  top: 381px;
  left: 600px;
  width: 97px;
  height: 112px;
}

/* Ice Cream Half Display */
#iceCreamDisplay img {
  position: absolute;
  z-index: 5;
  top: 430px;
  left: 569px;
  width: 165px;
  height: 200px;
}

/* Topping Display */
.biscoffDis {
  position: absolute;
  z-index: 10;
  top: 385px;
  left: 647px;
  width: 60px;
  height: 70px;
}

.pockyDis {
  position: absolute;
  z-index: 10;
  top: 385px;
  left: 647px;
  width: 60px;
  height: 70px;
}

.sprinklesDis {
  position: absolute;
  z-index: 9;
  top: 385px;
  left: 599px;
  width: 110px;
  height: 90px;
}

.grahamDis {
  position: absolute;
  z-index: 9;
  top: 385px;
  left: 592px;
  width: 110px;
  height: 90px;
}

.oreoDis {
  position: absolute;
  z-index: 9;
  top: 385px;
  left: 595px;
  width: 115px;
  height: 93px;
}

.marshDis {
  position: absolute;
  z-index: 9;
  top: 385px;
  left: 595px;
  width: 108px;
  height: 106px;
}

.chocDis {
  position: absolute;
  z-index: 9;
  top: 392px;
  left: 620px;
  width: 60px;
  height: 55px;
}

.strawberryDis {
  position: absolute;
  z-index: 9;
  top: 392px;
  left: 618px;
  width: 60px;
  height: 55px;
}

.blueberryDis {
  position: absolute;
  z-index: 9;
  top: 392px;
  left: 621px;
  width: 57px;
  height: 59px;
}

.cherryDis {
  position: absolute;
  z-index: 9;
  top: 392px;
  left: 612px;
  width: 47px;
  height: 50px;
}

/*Blended Shakes Display Styling*/
#vanillaBlended {
  position: absolute;
  z-index: 7;
  top: 430px;
  left: 569px;
  width: 165px;
  height: 200px;
}

#strawberryBlended {
  position: absolute;
  z-index: 7;
  top: 430px;
  left: 569px;
  width: 165px;
  height: 200px;
}

#matchaBlended {
  position: absolute;
  z-index: 7;
  top: 430px;
  left: 569px;
  width: 165px;
  height: 200px;
}

#birthdayCakeBlended {
  position: absolute;
  z-index: 7;
  top: 430px;
  left: 569px;
  width: 165px;
  height: 200px;
}

#chocolateBlended {
  position: absolute;
  z-index: 7;
  top: 430px;
  left: 569px;
  width: 165px;
  height: 200px;
}

#coffeeBlended {
  position: absolute;
  z-index: 7;
  top: 430px;
  left: 569px;
  width: 165px;
  height: 200px;
}

#mangoBlended {
  position: absolute;
  z-index: 7;
  top: 430px;
  left: 569px;
  width: 165px;
  height: 200px;
}

#cookieDoughBlended {
  position: absolute;
  z-index: 7;
  top: 430px;
  left: 569px;
  width: 165px;
  height: 200px;
}

/*Check Order Button*/
.checkOrderButton {
  position: absolute;
  cursor: pointer;
  top: 511px;
  left: 738px;
  width: 115px;
  height: 90px;
}

/*Trash Order Buton*/
.trashButton {
  position: absolute;
  cursor: pointer;
  top: 645px;
  left: 131px;
  width: 170px;
  height: 85px;
}

/* All Button Hover Effects */
.button:hover,
#speakBubble img:hover,
#kitchenButtons img:hover,
#blender:hover,
.checkOrderButton:hover,
.trashButton:hover {
  filter: brightness(0.8);
  transition: all 0.3s ease-in-out;
}