@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

  html, body, * {
    user-select: none;
  }

  /* Creates outer background color */
  body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #8d6e5d;
    font-family: 'Cormorant Garamond', serif;
  }

  /* Creates reusable variables */
  :root {
      --color-text: #433218;
      --color-heading: #8d6e5d;
      --color-heading-shadow: #321d08;
      --color-button: cyan;
      --color-button-active: rgba(255,255,255,0.6);
  }

  /* Reusable containers */
  .container { /* Top Left */
      position: absolute;
      top: 50px;
      left: 75px;
      transform: translate(-50%, -50%);
      border-radius: 50%;
      text-align: center;
      font-family: "Cherry Bomb One", sans-serif;
      color: #ffffff;
      text-shadow:    0 1px 0 var(--color-heading-shadow),
                      0 2px 0 var(--color-heading-shadow),
                      0 3px 0 var(--color-heading-shadow),
                      0 4px 0 var(--color-heading-shadow),

                      0 0 5px rgba(10,0,0,.05),
                      0 1px 3px rgba(10,0,0,.2),
                      0 3px 5px rgba(10,0,0,.2),
                      0 5px 10px rgba(10,0,0,.2),
                      0 10px 10px rgba(10,0,0,.2),
                      0 20px 20px rgba(10,0,0,.3);
  }
  /*styling for buttons*/
  .button {
      display: inline-block;
      position: relative;
      overflow: hidden;
      box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
      border-radius: 8px;
      padding: 15px;
      background-color: #645043;
      border: 4px solid black;
      cursor: pointer;
      transition: all 0.3s ease-in-out;
  }
  /*button hover effect*/
  .button:hover {
    filter: brightness(0.8);
    .image-button {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
    }
}
.image-button {
  display: flex;
  margin-top: 20px;
}

.image-button button {
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  border: none;
  padding: 0;
  cursor: pointer;
}

.image-button img {
  object-fit: cover;
}

.image-button button:focus {
  outline: none;
}
  canvas {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
    margin: auto;
    width: 1280px;
    height: 720px;
    border: 5px solid #000;
    z-index: 1;
  }

  /* Cafe Scene */
  #cafeScene {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 720px;
    border: 5px solid #000;
    margin: auto;
    position: absolute;
    z-index: 2;
    background-image: url(./Assets/cafeDay.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
  #player {
    position: absolute;
    top: 250px;
    left: 185px;
  }
  #player img {
  width: 129px;
  height: 200px;
  }

  /* Kitchen Scene */
  #kitchenScene {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 720px;
    border: 5px solid #000;
    margin: auto;
    position: absolute;
    z-index: 2;
    background-image: url(./Assets/kitchenBackground.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Ordering Scene */
  #orderingScene {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 1280px;
    height: 720px;
    border: 5px solid #000;
    margin: auto;
    position: absolute;
    z-index: 2;
    background-image: url(./Assets/servingDay.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }

  /* Music Toggle */
  #musicToggle{
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-family: "Cherry Bomb One", sans-serif;
    color: #ffffff;
    text-shadow:    0 1px 0 var(--color-heading-shadow),
                    0 2px 0 var(--color-heading-shadow),
                    0 3px 0 var(--color-heading-shadow),
                    0 4px 0 var(--color-heading-shadow),

                    0 0 5px rgba(10,0,0,.05),
                    0 1px 3px rgba(10,0,0,.2),
                    0 3px 5px rgba(10,0,0,.2),
                    0 5px 10px rgba(10,0,0,.2),
                    0 10px 10px rgba(10,0,0,.2),
                    0 20px 20px rgba(10,0,0,.3);
  }

  /* Credits */
  #credits{
    position: absolute;
    bottom: 0px;
    right: 10px;
    font-family: "Cherry Bomb One", sans-serif;
    color: #ffffff;
    text-shadow:    0 1px 0 var(--color-heading-shadow),
                    0 2px 0 var(--color-heading-shadow),
                    0 3px 0 var(--color-heading-shadow),
                    0 4px 0 var(--color-heading-shadow),

                    0 0 5px rgba(10,0,0,.05),
                    0 1px 3px rgba(10,0,0,.2),
                    0 3px 5px rgba(10,0,0,.2),
                    0 5px 10px rgba(10,0,0,.2),
                    0 10px 10px rgba(10,0,0,.2),
                    0 20px 20px rgba(10,0,0,.3);
  }
  .character {
    width: 141px; 
    height: 263px; 
    background-repeat: no-repeat;
    position: absolute;
    right: 0; 
    margin-top: 20%;
  }
  /* Kitchen Buttons */

  @import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

html, body, * {
    user-select: none;
}

/* Creates outer background color */
body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #8d6e5d;
    font-family: 'Cormorant Garamond', serif;
}

/* Creates reusable variables */
:root {
    --color-text: #433218;
    --color-heading: #8d6e5d;
    --color-heading-shadow: #321d08;
    --color-button: cyan;
    --color-button-active: rgba(255,255,255,0.6);
}

/* Reusable containers */
.container { /* Top Left */
    position: absolute;
    top: 50px;
    left: 75px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    text-align: center;
    font-family: "Cherry Bomb One", sans-serif;
    color: #ffffff;
    text-shadow:    0 1px 0 var(--color-heading-shadow),
                    0 2px 0 var(--color-heading-shadow),
                    0 3px 0 var(--color-heading-shadow),
                    0 4px 0 var(--color-heading-shadow),

                    0 0 5px rgba(10,0,0,.05),
                    0 1px 3px rgba(10,0,0,.2),
                    0 3px 5px rgba(10,0,0,.2),
                    0 5px 10px rgba(10,0,0,.2),
                    0 10px 10px rgba(10,0,0,.2),
                    0 20px 20px rgba(10,0,0,.3);
}
/*styling for buttons*/
.button {
    display: inline-block;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    border-radius: 8px;
    padding: 15px;
    background-color: #645043;
    border: 4px solid black;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
/*button hover effect*/
.button:hover {
    filter: brightness(0.8);
    .image-button {
display: flex;
justify-content: space-around;
margin-top: 20px;
}
}
.image-button {
  display: flex;
  margin-top: 20px;
}

.image-button button {
  background-color: rgba(0, 0, 0, 0); /* Transparent background */
  border: none;
  padding: 0;
  cursor: pointer;
}

.image-button img {
  object-fit: cover;
}

.image-button button:focus {
  outline: none;
}
canvas {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
display: block;
margin: auto;
width: 1280px;
height: 720px;
border: 5px solid #000;
z-index: 1;
background-color: #647F9A
}

/* Cafe Scene */
#cafeScene {
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 1280px;
height: 720px;
border: 5px solid #000;
margin: auto;
position: absolute;
z-index: 2;
background-image: url(./Assets/cafeDay.png);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}
#player {
position: absolute;
top: 250px;
left: 185px;
}
#player img {
width: 129px;
height: 200px;
}

/* Kitchen Scene */
#kitchenScene {
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 1280px;
height: 720px;
border: 5px solid #000;
margin: auto;
position: absolute;
z-index: 2;
background-image: url(./Assets/kitchenBackground.png);
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

/* Music Toggle */
#musicToggle{
position: absolute;
top: 10px;
right: 10px;
cursor: pointer;
font-family: "Cherry Bomb One", sans-serif;
color: #ffffff;
text-shadow:    0 1px 0 var(--color-heading-shadow),
                0 2px 0 var(--color-heading-shadow),
                0 3px 0 var(--color-heading-shadow),
                0 4px 0 var(--color-heading-shadow),

                0 0 5px rgba(10,0,0,.05),
                0 1px 3px rgba(10,0,0,.2),
                0 3px 5px rgba(10,0,0,.2),
                0 5px 10px rgba(10,0,0,.2),
                0 10px 10px rgba(10,0,0,.2),
                0 20px 20px rgba(10,0,0,.3);
}

/* Credits */
#credits{
position: absolute;
bottom: 0px;
right: 10px;
font-family: "Cherry Bomb One", sans-serif;
color: #ffffff;
text-shadow:    0 1px 0 var(--color-heading-shadow),
                0 2px 0 var(--color-heading-shadow),
                0 3px 0 var(--color-heading-shadow),
                0 4px 0 var(--color-heading-shadow),

                0 0 5px rgba(10,0,0,.05),
                0 1px 3px rgba(10,0,0,.2),
                0 3px 5px rgba(10,0,0,.2),
                0 5px 10px rgba(10,0,0,.2),
                0 10px 10px rgba(10,0,0,.2),
                0 20px 20px rgba(10,0,0,.3);
}
.character {
width: 141px; 
height: 263px; 
background-repeat: no-repeat;
position: absolute;
right: 0; 
margin-top: 20%;
}

/*Blender + Cup Styling */
.blender-button {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 5px;
  left: 545px;
}

.cup-button {
  position: absolute;
  z-index: 7;
  top: 300px;
  left: 350px;
}

/*Topping Buttons */
.biscoff {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 28px;
  left: 973px;
}
.pocky {
  position: absolute;
  cursor: pointer;
  z-index: 5;
  top: 261px;
  left: 972px;
}
.strawberry {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  height: 132px;
  width: 147px;
  top: 168px;
  left: 1100px;
}
.blueberry {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 403px;
  left: 1109px;
  width: 139px;
  height: 135px;
}
.cherry {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 42px;
  left: 1102px;
  width: 144px;
  height: 142px;
}

.sprinkles {
  position: absolute;
  cursor: pointer;
  z-index: 6;
  height: 144px;
  top: 143px;
  left: 972px;
}
.graham {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 525px;
  left: 959px;
  width: 150px;
  height: 130px;
}
.oreo {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 390px;
  left: 965px;
  width: 137px;
  height: 164px;
}
.marshmallow {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 278px;
  left: 1108px;
  width: 134px;
  height: 157px
}
.chocolatechips {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 515px;
  left: 1110px;
  width: 134px;
  height: 157px;
}

/*Syrup Buttons */
.syrup_peanutbutter {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 80px;
  left: 830px;
  width: 146px;
  height: 172px;
}
.syrup_chocolate {
  position: absolute;
  cursor: pointer;
  z-index: 5;
  top: 203px;
  left: 830px;
  width: 146px;
  height: 172px;
}
.syrup_caramel {
  position: absolute;
  cursor: pointer;
  z-index: 6;
  top: 333px;
  left: 839px;
  width: 146px;
  height: 172px;
}
.syrup_strawberry {
  position: absolute;
  cursor: pointer;
  z-index: 7;
  top: 460px;
  left: 831px;
  width: 146px;
  height: 172px;
}

/*Milk Buttons */
.whole {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 70px;
  left: 370px;
  width: 160px;
  height: 190px;
}
.oat {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 260px;
  left: 370px;
  width: 160px;
  height: 190px;
}
.almond {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 448px;
  left: 370px;
  width: 160px;
  height: 190px;
}

/*Topping Buttons */
.icecream_vanilla {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 60px;
  left: 35px;
  width: 174px;
  height: 190px;
}
.icecream_strawberry {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 184px;
  left: 33px;
  width: 174px;
  height: 205px;
}
.icecream_matcha {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 340px;
  left: 33px;
  width: 174px;
  height: 200px;
}
.icecream_bithdaycake {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 474px;
  left: 33px;
  width: 174px;
  height: 200px;
}

.icecream_chocolate {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 46px;
  left: 195px;
  width: 176px;
  height: 166px;
}
.icecream_coffee {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 200px;
  left: 196px;
  width: 174px;
  height: 157px;
}
.icecream_mango {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 332px;
  left: 205px;
  width: 167px;
  height: 170px;
}
.icecream_cookiedough {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 488px;
  left: 217px;
  width: 154px;
  height: 143px;
}

/*Cream Buttons */
.cream_chocolate {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 83px;
  left: 748px;
  width: 113px;
  height: 195px;
}
.cream_whisked {
  position: absolute;
  cursor: pointer;
  z-index: 4;
  top: 255px;
  left: 751px;
  width: 117px;
  height: 195px;
}


.blender-button:hover, .topping-button:hover, .syrup-button:hover, .milk-button:hover, .icecream-button:hover, .cream-button:hover{
  filter: brightness(80%);
}


