/* To cafe/kitchen buttons */
.button {
  position: absolute;
  cursor: pointer;
  top: -5px;
  left: 10px;
}

.button img{
width: 80%;
height: 80%;
}

/* Stableing them */
#musicToggle, #credits {
display: block !important;
}

/* Scene styles */
#cafeScene,
#kitchenScene,
#orderingScene,
#cardScene,
#counter {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 1280px;
height: 720px;
border: 5px solid #000;
margin: auto;
background-size: contain;
background-position: center;
background-repeat: no-repeat;
}

#cafeScene {
background-image: url(./Assets/Background/cafeDay.png);
}

#kitchenScene {
background-image: url(./Assets/Background/kitchenBackground.png);
}
#orderingScene {
background-image: url(./Assets/Background/servingDay.png);
z-index: 1;
}

#counter {
background-image: url(./Assets/Background/servingCounter.png);
z-index: 3;
}


#cardScene {
background-image: url(./Story/memoryCards/memoryCardBackground.png);
}
.characterCounter {
position: absolute;
z-index: 2;
bottom: 05px;
width: 350px;
height: 500px;
top: 30%;
right: 30%;
}

#bubble {
position: relative;
width: 360px;
height: 315px;
top: 70px;
left: 850px;
display: flex;
justify-content: center;
align-items: center;
}

#orderSpeakBubble {
position: absolute;
top: 5px;
width: 350px;
height: 350px;
z-index: 4;
}

/* Music toggle and credits */
#musicToggle{
position: absolute;
top: 20px;
right: 45px;
cursor: pointer;
width: 40px;
}

#credits {
position: absolute;
bottom: 0px;
right: 0px;
width: 30%;
}

/* To cafe/kitchen button container */
.container {
top: 50px;
left: 75px;
transform: translate(-50%, -50%);
border-radius: 50%;
text-align: center;
}

.character {
width: 141px;
height: 263px;
background-repeat: no-repeat;
position: absolute;
right: 0;
margin-top: 20%;
}

#player {
position: absolute;
top: 220px;
left: 150px;
}

#player img {
height: 300px;
}

#speakBubble img {
position: absolute;
cursor: pointer;
right: 600px;
margin-top: 150px;
}

/* All Button Hover Effects */
.button:hover,
#speakBubble img:hover,
#kitchenButtons img:hover,
#blender:hover,
#checkOrderButton:hover,
#memoryCardIcon:hover ,
#memoryCardX:hover,
#trashButton:hover {
filter: brightness(0.8);
transition: all 0.3s ease-in-out;
}

#orderingScene.show #score {
display: block;
}

#orderSpeakBubble {
display: block;
}
#checkOrderButton:active + #orderingScene #orderSpeakBubble {
display: block;
z-index: 6;
}

#score {
display: none;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
text-align: center;
z-index: 8;
}

#resultImage {
position: absolute;
top: -286px;
left: calc(50% + 218px);
width: 350px;
height: 350px;
z-index: 8;
}

#resultText {
position: absolute;
top: -200px;
left: 370px;
font-size: 20px; /* Adjust font size as needed */
font-weight: bold;
z-index: 8;
}

#memoryCard {
position: absolute;
top: 25%;
left: 25%;
width: 500px;
height: 300px;
transform: translate(-50%, -50%);
z-index: 10;
animation: zoomIn 1s ease forwards; /* Apply animation */
}

@keyframes zoomIn {
  0% {
    transform: scale(1) rotate(0deg); /* Initial state */
  }
  100% {
    transform: scale(1.2) rotate(10deg); /* Final state */
  }
  }


#memoryCardIcon {
  width: 65px;
  height: 65px;
  margin-right: 5px;
  background: transparent;
  border: none;
  cursor: pointer; 
  transition: transform 0.3s ease;
  outline: none;
}

#memoryCardCounter {
  font-size: 25px;
  color: white;

}

#memoryCardDisplay {
  position: absolute;
  display: flex;
  align-items: center;
  left: 15px;
  filter: brightness(100%);
}

#memoryCardImage {
  left: 200px ;
  display: none;
  max-width: 20%; 
  max-height: 20%; 
  cursor: pointer;
  transition: transform 0.3s ease-in-out; 
}

/* Memory Card Page Display */
#memoryCardX {
  position: absolute;
  top: 10px;
  left: 1162px;
  }


  /* Style for memory card buttons */
.memoryCardButton {
    background-size: cover;
    background-position: center;
    width: 248px;
    height: 139px;
    border: none;
    margin: 10px;
    cursor: pointer;
}

/* Style for the popup */
#popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
  z-index: 1000;
}

#popupImage {
  width: 663px;
  height: 371px;
}

#popup button {
  margin-top: 20px;
  padding: 10px 20px;
  cursor: pointer;
}


/* Add this to your CSS file */
.popout-container {
  position: flex;
  display: none; /* Hidden by default */
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0.4); /* Black background with opacity */
}

.popup-content {
  background-color: #dbbfa3;
  border: 5px solid black;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  font-size: 20px;
  margin: 15% auto;
  padding: 20px;
  width: 80%;
  max-width: 400px;
  text-align: center;
  z-index: 1000;
}

.popup-content p {
  white-space: pre-wrap;
}

.popup-content button {
  margin: 10px;
  padding: 10px 20px;
  font-size: 16px;
}

#okButton {
  display: inline-block;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
  border-radius: 8px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #8d6e5d;
  border: 2px solid black;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 20px;
}

#okButton:hover {
  filter:brightness(0.8);
}

#endScene,
video {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 1280px;
  height: 720px;
  border: 5px solid #000;
  margin: auto;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.text {
  text-align: center;
  font-family: "Cherry Bomb One", sans-serif;
  color: #ffffff;
  text-shadow: 0 1px 0 var(--color-heading-shadow), 0 2px 0 var(--color-heading-shadow), 0 3px 0 var(--color-heading-shadow), 0 4px 0 var(--color-heading-shadow), 0 0 5px rgba(10, 0, 0, .05), 0 1px 3px rgba(10, 0, 0, .2), 0 3px 5px rgba(10, 0, 0, .2), 0 5px 10px rgba(10, 0, 0, .2), 0 10px 10px rgba(10, 0, 0, .2), 0 20px 20px rgba(10, 0, 0, .3);
}