@import url('https://fonts.googleapis.com/css2?family=Cherry+Bomb+One&display=swap');

  /* Resetting user-select */
  html,
  body,
  * {
    user-select: none;
    margin: 0;
    padding: 0;
  }

  /* Global styles */
  html,
  body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  html {
    background-color: #8d6e5d;
    background-image: url(./Assets/Background/backgroundSquare.png);
    background-size: 200px 200px;
    background-repeat: repeat;
  }

  /* Creates reusable variables */
  :root {
      --color-text: #433218;
      --color-heading: #8d6e5d;
      --color-heading-shadow: #321d08;
      --color-button: cyan;
      --color-button-active: rgba(255,255,255,0.6);
  }

  .text {
    text-align: center;
    font-family: "Cherry Bomb One", sans-serif;
    color: #ffffff;
    text-shadow:    0 1px 0 var(--color-heading-shadow),
                    0 2px 0 var(--color-heading-shadow),
                    0 3px 0 var(--color-heading-shadow),
                    0 4px 0 var(--color-heading-shadow),

                    0 0 5px rgba(10,0,0,.05),
                    0 1px 3px rgba(10,0,0,.2),
                    0 3px 5px rgba(10,0,0,.2),
                    0 5px 10px rgba(10,0,0,.2),
                    0 10px 10px rgba(10,0,0,.2),
                    0 20px 20px rgba(10,0,0,.3);
  }